<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Bienvenidos a alumnos UTEQ</div>
        <a data-th-href="@{/profile}" href="#">Ir a la página principal</a>
        

        <!-- Si el usuario esta autenticado -->
        <div data-sec-authorize="isAuthenticated()">
            <a data-th-href="@{/profile}" href="#">Ir a perfil</a>
            <b>Usuario:</b>
            <span data-sec-authentication="name">Usuario logueado</span>
            <br>
            <b>Roles:</b>
            <span data-sec-authentication="principal.authorities">Roles</span>
            <form data-th-action="@{/logout}" method="post">
                <input type="submit" name="name" value="Sign Out">
            </form>
        </div>
        <!--  -->
    </body>
</html>
